/* .partTextBold {
  font-weight: bold !important;

  color: darkblue !important;

  background-color: blueviolet;
} */

/* .photo {
    height: 200px;
    width: 200px;
  } */

/* @media only screen and (min-width: 600px) {
    .photo {
     height: ;
    }
  } */

/* issue with handling CSS with bootstrap ask for help */
